<html>
  <head>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'></link>
  </head>
  <body>
    <div class='container'>
      <h1>Hi! How about using some google oauth?</h1>
      {% if !user %}
      <a class='btn btn-primary' href='/login/google'>Log into our site from Google</a>
      {% else %}
      <a class='btn btn-primary' href='/logout/google'>Log out</a>
      <div class='well'>
        Welcome {{ user.email }}!
      </div>
      {% endif %}
      <pre style='margin: 10px 0'>
       See it on github. <a href='https://github.com/ericpkatz/google-oauth' target='_blank'>Here</a>
      </pre>
    </div>
  </body>
</html>
